.app {
  text-align: center;
}

.ButtonContainer {
  display: flex;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.Button {
  margin-bottom: 10px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
